/*Color Scheme
Dark Blue = 0A4FA5
Light Blue = 2ECFF3
Light Yellow = EBF05B
Yellow = EFD858
RedOrange = D83727
*/
body{ margin: 0; height: 100%;}

div{display: block;}
/* Header Styling */
header {
    height: 100px;
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
	line-height:14px;
	text-transform:uppercase;
	font-weight:500;
	letter-spacing:3px;
	z-index:99999;
	background: -webkit-linear-gradient(#EBF05B, #EFD858); 
  	background: -o-linear-gradient(#EBF05B, #EFD858); 
  	background: -moz-linear-gradient(#EBF05B, #EFD858);
  	background: linear-gradient(#EBF05B, #EFD858);
    font-family: 'Open Sans Condensed', sans-serif;
}

#content{
    min-height: 100%;
    margin-bottom: -5em;
}

footer{
    margin-bottom: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0A4FA5;
    text-align: center;
    height: 10em;
    margin-top: 0;
}

#footertext{
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
}

.contactbtn{
    border: none;
    background-color: #EBF05B;
    width: 15em;
    height: 5em;
    margin: auto;
    margin-top: 2.5em;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1em;
    font-weight: 700;
    cursor:pointer;
}

/* Navbar Styling */
.nav-down{
    line-height: 30px;
}

.nav-up {
    top: -100px;
}	

.navbar1 a:link {color: #FFFFFF; text-decoration:none;}
.navbar1 a:visited {color: #FFFFFF; text-decoration:none;}
.navbar1 a:hover {color: #0A4FA5; text-decoration:none; font-weight:500; background-color:#ffffff; padding:2px 3px 2px 5px; -moz-border-radius: 3px; border-radius: 3px;}
.navbar1 a:pressed {color: #0A4FA5; text-decoration:none; font-weight:500; background-color:#ffffff; padding:2px 3px 2px 5px; -moz-border-radius: 3px; border-radius: 3px;}
.navbar1 a:active {color: #FFFFFF; text-decoration:none;}

.btnPressed a:link {color: #2ECFF3; text-decoration:none; font-weight:500; background-color:#ffffff; padding:2px 3px 2px 5px; -moz-border-radius: 3px; border-radius: 3px;}
.btnPressed a:visited {color: #2ECFF3; text-decoration:none; font-weight:500; background-color:#ffffff; padding:2px 3px 2px 5px; -moz-border-radius: 3px; border-radius: 3px;}
.btnPressed a:hover {color: #2ECFF3; text-decoration:none; font-weight:500; background-color:#ffffff; padding:2px 3px 2px 5px; -moz-border-radius: 3px; border-radius: 3px;}
.btnPressed a:pressed {color: #2ECFF3; text-decoration:none; font-weight:500; background-color:#ffffff; padding:2px 3px 2px 5px; -moz-border-radius: 3px; border-radius: 3px;}
.btnPressed a:active {color: #2ECFF3; text-decoration:none; font-weight:500; background-color:#ffffff; padding:2px 3px 2px 5px; -moz-border-radius: 3px; border-radius: 3px;}

.navWrapper {
	padding:0px 15px 0px 15px;
}

#top-menu li {
    float: left;
    list-style-type: none;
    transition: none;
}

#top-menu a {
    display: block;
    margin: 25px 14px 0px 14px;
    text-align: center;
    -webkit-transition: .5s all ease-out;
    -moz-transition: .5s all ease-out;
    transition: .5s all ease-out;
    color: #000000;
    font-size: 30px;
    text-decoration: none;
	padding:2px 3px 2px 5px;
	-moz-border-radius: 3px; 
	border-radius: 3px;
}

#top-menu a:hover {
	color: #0A4FA5; text-decoration:none; font-weight:500; background-color:#ffffff; padding:10px 3px 2px 5px; -moz-border-radius: 3px; border-radius: 3px;
}

#top-menu li.active a {
    color: #0A4FA5; text-decoration:none; font-weight:500; background-color:#ffffff; padding:2px 3px 2px 5px; -moz-border-radius: 3px; border-radius: 3px;
}

#linkedin{
    display: block;
    width: 40px;
    height: 28px;
    background-image: url("../Images/In-Black-28px-R.png");
    overflow: hidden;
    background-repeat: no-repeat;
}

#linkedinlogo a:hover{
    color: transparent;
    background-color: transparent;
    text-decoration: none;
    padding: inherit;
    
}

/* Intro Styling */
#intro{
    margin-top: -100px;
    width: auto;
    height: 2000px;
    background: url("../Images/graffiti.jpg") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    text-align: center; 
}

#myintro{
    margin-top: 300px;
    background-color: #2ECFF3;
    box-shadow: 3px 3px 15px #444444;
    display: inline-block;
    font-family: 'Open Sans Condensed', sans-serif;
    padding-left: 200px;
    padding-right: 200px;
}

#name{
    font-size: 8em;
    font-family: 'Nothing You Could Do', cursive;
    color: #0A4FA5;
    margin: 5px;
}

#se{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 100;
    color: white;
    font-size: 2.5em;
    margin: 5px;
}

/* Skills Section */
#skills-section{
    background-color: #EBF05B;
    color: #000000;
    box-shadow: 3px 3px 15px #444444;
    margin: auto; 
    margin-top: 100px;
    padding: 2em;
    width: 60em;
}

#skillstitle{
    font-family: 'Nothing You Could Do', cursive;
    font-size: 4em;
    margin: 0px;
}

#skillstable{
    margin: auto;
    font-size: 1.5em;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
}

 table#skillstable td, th {
    padding-left: 20px;
    padding-right: 20px;
}

#education{
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: #2ECFF3;
    background-color: #D83727;
    box-shadow: 3px 3px 15px #444444;
    padding-left: 2em;
    padding-right: 2em;
    text-align: left;
    padding-top:2em;
    padding-bottom: 2em;
    margin: auto;
    width: 50em;
    text-align: center;
    margin-top: 100px;
}

#education p {
    text-align: left;
        font-size: 1.5em;

}

#center{
    margin: auto;
    max-width: 29em;
}

/*Project flexbox styling */
.flex-container{
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: space-around;
    max-height: 2200;
}

.flex-item{
    box-shadow: 3px 3px 15px #444444;
    padding: 5px;
    width: 400px;
    height: 400px;
    margin-top: 20px;
    flex-direction: row;
    background: #2ECFF3;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.flex-item > img{
    height: 280px;
}

.flex-about{
    flex-direction: row;
    margin: 0px;
}

a{
    text-decoration: none;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #0A4FA5;
}


/* Contact me page styling */
#contact{
    background: url("../Images/background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    justify-content: center;
}

#contactform{
    padding: 30px;
    background-color: white;
    border-radius: 0px;
    width: 500px;
    margin: auto;
    margin-top: 150px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.2em;
    box-shadow: 3px 3px 6px #555555;
}

.message{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
}

#formbutton{
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: #EFD858;
    border: none;
    margin: auto;
    margin-right: 10em;
    font-weight: 700;
    padding: 10px;
    box-shadow: 2px 2px 2px #888888;
}

#formbutton a:hover{
    background-color: #EFD858;
}

/* Styling for PHP page indicating the form was submitted */
#formsent{
    font-family: 'Open Sans Condensed', sans-serif;
    margin-top: 200px;
    font-size: 2em;
    text-align: center;
    color: black;
    font-weight: 700;
}

#formSubmitted{
    background: url("../Images/background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*Projects page */
#projects{
    margin-top: 200px;
    height: 100%;
}

#projectbody{
    margin-bottom: -5em;
    min-height: 100%;
}

#projectpage{
    background-image: url("../Images/background.png");
    height: 1100px;
}

/*About page styles*/
#aboutpage{
    margin-top:0px;
}

#aboutmetext{
    margin-top: 100px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: left;
}

#abouttop{
    background-color: #0A4FA5;
    width: 100%;
    color: white;
}

.text{
    margin: 3em;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5em;
    text-align: left;
}

#hi{
    font-size: 2em;
    margin: auto;
}

#portfolioimage{
    margin-left: 5em;
    margin-top: 5em;
    height: 250px;
}

#description{
    background-color: #0A4FA5;
    color: white;
}

#randomfacts{
    background-color: #2ECFF3;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2em;
    color: #ffffff;
    width: 100%;
    text-align: center;
    height: 30em;
}

#climbingpic{
    width: 15em;
    border-radius: 1em;
    border: solid .5em;
    border-color: white;
}

